@import url(https://fonts.googleapis.com/css?family=Raleway);
body {
	font-family: 'Raleway', sans-serif;
	text-align: center;
}
input {
	margin: auto;
}
img {
	width: 200px;
}
a {
	display: block;
	margin: 1px 0;
}
#button {
	position: fixed;
	display: block;
	right: 0;
	bottom: 0;
	margin-right: 40px;
	margin-bottom: 40px;
	z-index: 900;
}
#vertical {
	position: relative;
	display: inline-block;
	vertical-align: middle;
}
.green {
	background-color: #009688;
	color: #fff;
}